/* Page layout */
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page header {
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: flex-start;
    align-items: stretch;
    position: sticky;
    top: 0;
}

.page section {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-grow: 1;
}

.page section nav {
    flex-shrink: 0;
    padding: 1em;
    display: flex;
}

.page section main {
    display: flex;
    padding: 1em;
    flex-grow: 1;
    justify-content: center;
}

.page section aside {
    display: flex;
    flex-shrink: 0;
    padding: 1em;
    width: 200px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
}

/* Mobile layout */
@media (max-width: 768px) {
    .page section aside {
        display: none;
    }

    .page section nav {
        display: flex;
        order: 1;
    }

    /* #highest-rated {
        display: none;
    }

    #recent-matches {
        display: none;
    } */
}

/* Logo */
#logo-link {
    display: flex;
    align-items: center;
    background-color: lightskyblue;
    text-decoration: none;
    color: inherit;
}

#logo {
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

#logo-title {
    display: block;
    margin-left: 0.5rem; 
    font-weight: bold;
    font-size: 25px;
}

/* Profile */
#profile {
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    width: 200px;
    text-decoration: none;
    background-color: rgb(131, 173, 187);
    color: white;
    cursor: pointer;

    transition: background-color 1s ease 0s;
}

#profile:hover {
    background-color: coral;
}

/* Menu */
#menu ul {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 0;
    padding: 0;
    height: 100%;
}
#menu li {
    display: flex;
    background-color: rgb(53, 127, 156);
    list-style-type: none;
    align-items: center;
    justify-content: center;
    width: 100px;
    color: white;
    cursor: pointer;

    transition: background-color 1s ease 0s,
        width 1s ease 0s;
}

#menu li:hover {
    background-color: coral;
    width: 175px;
}

#menu a {
    display: flex;
    text-decoration: none;
    color: #fefefe;
}

#hamburger-menu {
    display: none;
}

#hamburger-menu-aside {
    display: none;
}

/* Header responsitivity */
@media all and (max-width: 800px) {
    #menu-control {
        display: inline-block;
    }

    #menu li {
        display: block;
    }

    #menu {
        display: none;
    }

    #profile {
        display: none; 
    }

    #hamburger-menu {
        display: flex;
        margin-left: auto;
        align-items: center;
        justify-content: center;
        width: 100px;
        text-decoration: none;
        color: inherit;
        background-color: rgb(131, 173, 187);
        cursor: pointer;
        user-select: none;
        font-size: 2em;
        font-weight: bold;

        transition: background-color 1s ease 0s;
    }

    #hamburger-menu:hover {
        background-color: coral;
    }

    #hamburger-menu-aside {
        display: flex;
    }

    #hamburger-menu-aside ul {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    #hamburger-menu-aside li {
        display: flex;
        background-color: rgb(53, 127, 156);
        list-style-type: none;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50px;
        cursor: pointer;

        transition: background-color 1s ease 0s
    }

    #hamburger-menu-aside li:hover {
        background-color: coral;
    }

    #hamburger-menu-aside a {
        display: flex;
        text-decoration: none;
        color: #fefefe;
    }
}

/* Game */
section main .main-container {
    display: flex;
    flex-grow: 1;
    background-color: grey;
    justify-content: center;
    align-items: center;
}

/* Find match */
#in-queue {
    flex-direction: column;
    gap: 1em;
}

#find-match-button {
    width: 100px;
    height: 100px;
    background-color: white;
    cursor: pointer;

    animation: pulse 1.5s infinite ease-in-out;
    transition: width 1s ease 0s,  height 1s ease 0s;
}

#find-match-button:hover {
    width: 125px;
    height: 125px;

    animation: pulse-hover 0.75s infinite ease-in-out;
}

#in-queue-button {
    width: 100px;
    height: 100px;
    background-color: white;
    cursor: pointer;

    animation: stretch-wait 1.5s infinite linear;
}

#in-queue-share-msg {
    display: none;
    font-size: 12px;
    color: red;
}

@keyframes stretch-wait {
    0% {
        width: 100px;
        height: 100px;
    }
    25% {
        width: 110px;
        height: 95px;
    }
    50% {
        width: 120px;
        height: 100px;
    }
    75% {
        width: 110px;
        height: 105px;
    }
    100% {
        width: 100px;
        height: 100px;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        background-color: white;
    }
    80% {
        transform: scale(1);
        background-color: rgb(255, 240, 235);
    }
    85% {
        transform: scale(1.1);
        background-color: rgb(255, 219, 206);
    }
    90% {
        transform: scale(1);
        background-color: rgb(255, 240, 235);
    }
    95% {
        transform: scale(1.1);
        background-color: rgb(255, 219, 206);
    }
    100% {
        transform: scale(1);
        background-color: white;
    }
}

@keyframes pulse-hover {
    0% {
        transform: scale(1);
        background-color: white;
    }
    80% {
        transform: scale(1);
        background-color: rgb(255, 240, 235);
    }
    85% {
        transform: scale(1.15);
        background-color: rgb(255, 169, 169);
    }
    90% {
        transform: scale(1);
        background-color: rgb(255, 240, 235);
    }
    95% {
        transform: scale(1.15);
        background-color: rgb(255, 169, 169);
    }
    100% {
        transform: scale(1);
        background-color: white;
    }
}

/* In Game */
#in-game {
    display: flex;
    justify-content: space-evenly;
    padding: 0.5em;
}

#player-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#opponent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.player-cell {
  width: 24px;
  height: 24px;
}

.opponent-cell {
  width: 24px;
  height: 24px;
}

#player-board {
  display: grid;
  grid-auto-columns: 24px;
  grid-auto-rows: 24px;
}

#opponents-board {
  display: grid;
  grid-auto-columns: 24px;
  grid-auto-rows: 24px;
}

#board-separator {
    display: block;
    width: 2px;
    height: 100%;
}

/* About */
#about {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}

#about p {
    margin: 0.2em 0;
}